{% if include.lang == 'fr' %}
	{% assign day = include.date | date: "%-d" %}
	{% if day == "1" %}
		{% capture sup %}<sup>er</sup>{% endcapture %}
	{% else %}
		{% capture sup %}{% endcapture %}
	{% endif %}
	
	{% assign m = include.date | date: "%-m" %}
	{% case m %}
		{% when '1' %}
			{% capture month %}Janvier{% endcapture %}
			{% capture month_short %}Jan.{% endcapture %}
		{% when '2' %}
			{% capture month %}Février{% endcapture %}
			{% capture month_short %}Fév.{% endcapture %}
		{% when '3' %}
			{% capture month %}Mars{% endcapture %}
			{% capture month_short %}Mars{% endcapture %}
		{% when '4' %}
			{% capture month %}Avril{% endcapture %}
			{% capture month_short %}Avril{% endcapture %}
		{% when '5' %}
			{% capture month %}Mai{% endcapture %}
			{% capture month_short %}Mai{% endcapture %}
		{% when '6' %}
			{% capture month %}Juin{% endcapture %}
			{% capture month_short %}Juin{% endcapture %}
		{% when '7' %}
			{% capture month %}Juillet{% endcapture %}
			{% capture month_short %}Juillet{% endcapture %}
		{% when '8' %}
			{% capture month %}Août{% endcapture %}
			{% capture month_short %}Août{% endcapture %}
		{% when '9' %}
			{% capture month %}Septembre{% endcapture %}
			{% capture month_short %}Sept.{% endcapture %}
		{% when '10' %}
			{% capture month %}Octobre{% endcapture %}
			{% capture month_short %}Oct.{% endcapture %}
		{% when '11' %}
			{% capture month %}Novembre{% endcapture %}
			{% capture month_short %}Nov.{% endcapture %}
		{% when '12' %}
			{% capture month %}Décembre{% endcapture %}
			{% capture month_short %}Déc.{% endcapture %}
	{% endcase %}
	
	{% capture year %}{{ include.date | date: "%Y" }}{% endcapture %}
	{{ day }}{{ sup }} {{ month }} {{ year }}
{% else %}
	{{ include.date | date: "%-d %B %Y" }}
{% endif %}