<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include analytics.html %}

  <div class="off-canvas-container">
    {% include sidebar.html %}

    {{ content }}
  </div>

  <!-- <script type="text/javascript" src="{{ site.baseurl }}{{ '/js/jquery-2.1.4.min.js' }}"></script> -->
  <!-- <script type="text/javascript" src="{{ site.baseurl }}{{ '/js/jquery.ghostHunter.min.js' }}"></script> -->
  <!-- <script type="text/javascript" src="{{ site.baseurl }}{{ '/js/script.js' }}"></script> -->
  <script type="text/javascript" src="{{ site.baseurl }}{{ '/js/main.js' }}"></script>
</body>

</html>